In [2]:
array = [10,2,30,2,8]
pivot = 3
less = []
greater = []

for x in array:
    if x < pivot:
        less.append(x)
    else:
        greater.append(x)

In [5]:
def append_element(some_list, element):
    some_list.append(element)

data = [1,2,3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [6]:
a = 4.5
b = 2
print(f"a is {type(a)}, b is {type(b)}")

a is <class 'float'>, b is <class 'int'>

In [12]:
a = 5 
b = 3.3
isinstance(a, int)
isinstance(b, (int, float))

True

In [14]:
a = "foo" 
getattr(a, "split")

In [15]:
def isiterable(obj): 
    try: 
        iter(obj)
        return True 
    except TypeError:
        return False

In [18]:
isiterable(5)

False

In [29]:
5 | 3427
# check what is bitwise AND, bitwise OR

a = 5
b = 5
a is b # true if a and b reference the same python object

True

In [30]:
a = [1,2,3]
b = a 

a is b

True

In [32]:
a = [1,2,3]
c = list(a) # list creates a new list 
a is not c

True

In [33]:
a == c

True

In [34]:
# we can use is check whether a is None 
# note that there is only one instance of None 
a = None
a is None

True

## Mutable and immutable

In [37]:
a = 'hello'
b = a
b = 'goodbye'

In [40]:
a = [1,2,3]
b = [1,2,3]
a is b

False

In [39]:
b

'goodbye'

In [ ]:
# strings and tuples are immutable 
# their internal data can't be changed 
# favor immutability

# Scalars

In [45]:
c = """
This is a longer string that
spans multiple lines
"""
c
c.count("\n")

3

In [53]:
# string is immutable 
# in order to modify a string, we need to use function/ methods 
a = "this is a string"
a = a.replace('string', 'longer string')
a 
list(a)
a[:3] # slicing

'thi'

In [59]:
s = r"12\34"
s # the additional \ in s reflect the use of r

'12\\34'

In [60]:
# string templating and formatting 
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [68]:
# more convenient: f-strings 
amount = 10
rate = 88.46 
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate:.2f}"
result

'10 Pesos is worth US$0.11'

In [69]:
def add_and_maybe_multiply(a, b, c=None):
    result = a + b

    if c is not None:
        result = result * c

    return result

In [71]:
add_and_maybe_multiply(10,2, 2)

24

# Dates and time

In [73]:
from datetime import datetime, date, time

In [77]:
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.date()

datetime.date(2011, 10, 29)

In [78]:
dt.time()

datetime.time(20, 30, 21)

In [79]:
# strftime formats a datetime to a string 
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [80]:
s = "20091031"
datetime.strptime(s, "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [82]:
dt_hour = dt.replace(minute = 0, second = 0)
dt_hour 

# datetime is immutable type

datetime.datetime(2011, 10, 29, 20, 0)

In [84]:
# difference in two datetime objects produce datetime.timedelta type 
dt2 = datetime(2011, 11, 15, 22, 30) 
delta = dt2 - dt
delta

datetime.timedelta(days=17, seconds=7179)

In [85]:
dt + delta == dt2

True

# Control Flows

In [86]:
# possible to chain comparisons 
4 > 3 > 2 > 1

True

In [ ]:
# for value in collection: 
    # do sth with value

In [87]:
sequence = [1, 2, None, 4, None, 5]
total = 0 
for value in sequence: 
    if value is None: 
        continue # skip None values 
    value += value

In [88]:
value

10

In [89]:
sequence = [1, 2, 0, 4, 6, 5, 2, 1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value

In [90]:
value

5

In [ ]:
# if the elements in the collection or iterator are sequences, 
# they can be conveniently unpacked into variables in the for loop statement 
for a,b,c in iterator: 
    # do something

In [91]:
x = 256
total = 0
while x > 0:
    if total > 500:
        break
    total += x
    x = x // 2

In [99]:
total = 0 
for i in range(100000):
    if i % 3 == 0 or i % 5 == 0: 
        total += i  
# while range generated can be arbitrarily large, the memory use at any given time may be very small

In [100]:
total

2333316668